.reports-page{

    width:100%;

    padding-top:6px;
}

.reports-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:28px;
    margin-top:30px;
    align-items:start;
}

@media(max-width:1200px){
    .reports-grid{
        grid-template-columns:1fr;
    }
}